/********************************************************************
* This file is part of yourDashboard.
*
* Copyright 2014 Michael Batz
*
*
* yourDashboard is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* yourDashboard is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with yourDashboard.  If not, see <http://www.gnu.org/licenses/>.
*
*********************************************************************/


/**
* Default settings for yourDashboard
*/
body
{
	background:		#FFFFFF;
	height:			100%;

	font-family:		sans-serif;
	font-size:		12pt;
}

a
{
	text-decoration:	none;
	color:			#000000;
}

a:hover
{
	text-decoration:	underline;
}

/**
* header
*/
div.header
{
	width:			100%;
	border-bottom:		solid 5px;
}

div.header h1
{
	font-size:		16pt;
	margin-bottom:		0px;
	margin-top:		0px;
}

div.header img
{
	vertical-align:		middle;
}

/**
* dashlets
*/
div.dashletContainer
{
	display:		table;
	width:			100%;
	border-spacing:		20px;
}

div.dashletRow
{
	display:		table-row;
}

div.dashlet
{
	display:		table-cell;

	border-style:		solid;
	border-color:		#CCCCCC;
	border-radius:  	5px;
	border-width:		1px;

	background:		#EEEEEE;
	
	width:			2%;
}

div.dashlet *
{
	margin:			10px;
}

div.dashlet h1
{
	width:			100%;
	margin:			0px;
	border-radius:  	5px;
	padding-top:		3px;
	padding-bottom:		3px;

	background:		#111111;

	color:			#FFFFFF;
	font-size:		12pt;
	text-align:		center;
}

/**
* dashlet tables
*/
div.dashlet table.severity
{
	width:			85%;
	margin-left:		auto;
	margin-right:		auto;
	
	border-spacing: 	0px;
}

table.severity td
{	
	border:			1px solid;
	border-radius:		5px;
	padding:		15px;
	padding-left:		60px;
	background-repeat:	no-repeat;
	background-position:	10px center;
}

tr.critical td
{
	background-image:	url(../img/icons/critical.png);
	background-color:	#F5CDCD;
	border-color:		#C00;
}
tr.major td
{
	background-image:	url(../img/icons/major.png);
	background-color:	#FFD7CD;
	border-color:		#F30;
}
tr.minor td
{
	background-image:	url(../img/icons/minor.png);
	background-color:	#FFEBCD;
	border-color:		#F90;
}

tr.warning td
{
	background-image:	url(../img/icons/warning.png);
	background-color:	#FFF5CD;
	border-color:		#FC0;
}

tr.info td 
{
	background-image:	url(../img/icons/info.png);
	background-color:	#D7E1CD;
	border-color:		#360;
}

tr.cleared td 
{
	background-image:	url(../img/icons/cleared.png);
	background-color:	#CCC;
	border-color:		#CCC;
}
