/********************************************************************
* This file is part of yourDashboard.
*
* Copyright 2014-2015 Michael Batz
*
*
* yourDashboard is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* yourDashboard is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with yourDashboard.  If not, see <http://www.gnu.org/licenses/>.
*
*********************************************************************/

/**
* custom CSS for yourDashboard
* @author Michael Batz <michael@yourcmdb.org>
*/

/**
* default values
*/
html,body
{
	height:			100%;

	margin:			0px;
	padding:		0px;
}

h1
{
	font-size:		16pt;
}

h2
{
	font-size:		14pt;
}

a
{
	color:          	#000000;
	text-decoration:	none;
}

a span.glyphicon
{
	color:			#000000;
	padding-right:		5px;
}

a:focus, a:hover, a:active
{
	color:			#FF0022;
	text-decoration:	underline;
}

/**
* header  
*/
div.dashboard-header
{
	margin:			0px;
	padding:		0px;
	background:		#000000;
	color:			#FFFFFF;
}

div.dashboard-header a
{
	color:			#FFFFFF;
	text-decoration:	none;
}

div.dashboard-header h1
{
	font-size:		16pt;
	color:			#FFFFFF;
	margin:			0px;
	margin-top:		10px;
	margin-bottom:		5px;
	padding:		0px;
	padding-left:		10px;
}

div.dashboard-header h1 img
{
	padding-right:		10px;
}


/**
* navigation
*/
.dashboard-navigation
{
	background:		#000000;
	color:			#FFFFFF;
	border-radius:		0;
	margin:			0px;
}

.dashboard-navigation ul.dropdown-menu
{
	color:			#FFFFFF;
	background-color:	#000000;
}

/* toggle button  */
.dashboard-navigation .navbar-toggle
{
	border-color:		#FFFFFF;
}

/* toggle button icon  */
.dashboard-navigation .icon-bar
{
	background:		#FFFFFF;
}

/* links  */
.dashboard-navigation ul.nav a
{
	color:			#FFFFFF;
	background-color:	#000000;
}
.dashboard-navigation ul.nav a:hover, .dashboard-navigation ul.nav a:focus
{
	color:			#FFFFFF;
	background-color:	#222222;
}

/* gylphicons  */
.dashboard-navigation .glyphicon
{
	color:			#FFFFFF;
}

/**
* dashlets
*/
div.dashboard-dashlet-row
{
	padding:		20px;
}

div.dashboard-dashlet-content
{
	padding:		10px;

	border-style:		solid;
	border-color:		#CCCCCC;
	border-radius:  	5px;
	border-width:		1px;

	background:		#EEEEEE;
}

div.dashboard-dashlet-content div.updatestring
{
	padding-top:		15px;
	text-align:		right;
	color:			#999999;
	font-size:		9pt;
	font-style:		italic;
}

div.dashboard-dashlet-content img.progressbar
{
	display: 		block;
	margin-left: 		auto;
	margin-right: 		auto;
}

div.dashboard-dashlet-content p.progressbar
{
	color:			#999999;
	font-size:		10pt;
	text-align:		center;
}


/**
* tables
*/
td.dashboard-nowrap
{
	white-space: 		nowrap;
}



/**
* severity tables
*/
table.dashboard-severity
{
	width:				85%;
	margin-left:			auto;
	margin-right:			auto;
	
	border-spacing: 		0px;
	border-collapse:		separate;
}

table.dashboard-severity td
{	
	border-bottom:			1px solid;
	border-top:			1px solid;
	padding:			15px;
	min-width:			50px;
}

table.dashboard-severity td:first-child
{
	border-left:			1px solid;
	border-top-left-radius:		5px;
	border-bottom-left-radius:	5px;
	background-repeat:		no-repeat;
	background-position:		10px center;
}
table.dashboard-severity td:first-child:before
{
	font-family:			"Glyphicons Halflings";
	font-size:			2em;
	display:			inline-block;
	vertical-align:			middle;
	margin: 			20px;
}

table.dashboard-severity td:last-child
{
	border-right:			1px solid;
	border-top-right-radius:	5px;
	border-bottom-right-radius:	5px;
}

tr.dashboard-severity-critical td, tr.dashboard-severity-critical td:first-child, tr.dashboard-severity-critical td:last-child
{
	border-color:		#C00;
	background-color:	#F5CDCD;
}
tr.dashboard-severity-critical td:first-child:before
{
	content:"\e104";
	color:			#C00;
}

tr.dashboard-severity-major td, tr.dashboard-severity-major td:first-child, tr.dashboard-severity-major td:last-child
{
	border-color:		#F30;
	background-color:	#FFD7CD;
}
tr.dashboard-severity-major td:first-child:before
{
	content:"\e088";
	color:			#F30;
}


tr.dashboard-severity-minor td, tr.dashboard-severity-minor td:first-child, tr.dashboard-severity-minor td:last-child
{
	border-color:		#F90;
	background-color:	#FFEBCD;
}
tr.dashboard-severity-minor td:first-child:before
{
	content:"\e101";
	color:			#F90;
}

tr.dashboard-severity-warning td, tr.dashboard-severity-warning td:first-child, tr.dashboard-severity-warning td:last-child
{
	border-color:		#FC0;
	background-color:	#FFF5CD;
}
tr.dashboard-severity-warning td:first-child:before
{
	content:"\e107";
	color:			#FC0;
}

tr.dashboard-severity-info td, tr.dashboard-severity-info td:first-child, tr.dashboard-severity-info td:last-child
{
	border-color:		#360;
	background-color:	#D7E1CD;
}
tr.dashboard-severity-info td:first-child:before
{
	content:"\e086";
	color:			#360;
}

tr.dashboard-severity-cleared td, tr.dashboard-severity-cleared td:first-child, tr.dashboard-severity-cleared td:last-child
{
	border-color:		#360;
	background-color:	#CCC;
}
tr.dashboard-severity-cleared td:first-child:before
{
	content:"\e013";
	color:			#360;
}

