/********************************************************************
* This file is part of yourDashboard.
*
* Copyright 2014-2015 Michael Batz
*
*
* yourDashboard is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* yourDashboard is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with yourDashboard.  If not, see <http://www.gnu.org/licenses/>.
*
*********************************************************************/

/**
* custom CSS for yourDashboard
* @author Michael Batz <michael@yourcmdb.org>
*/

/**
* default values
*/
html,body
{
	height:			100%;

	margin:			0px;
	padding:		0px;
}

h1
{
	font-size:		16pt;
}

h2
{
	font-size:		14pt;
}

a
{
	color:          	#000000;
	text-decoration:	none;
}

a span.glyphicon
{
	color:			#000000;
	padding-right:		5px;
}

a:focus, a:hover, a:active
{
	color:			#FF0022;
	text-decoration:	underline;
}

/**
* header  
*/
div.dashboard-header
{
	margin:			0px;
	padding:		0px;
	background:		#000000;
	color:			#FFFFFF;
}

div.dashboard-header a
{
	color:			#FFFFFF;
	text-decoration:	none;
}

div.dashboard-header h1
{
	font-size:		16pt;
	color:			#FFFFFF;
	margin:			0px;
	margin-top:		10px;
	margin-bottom:		5px;
	padding:		0px;
	padding-left:		10px;
}

div.dashboard-header h1 img
{
	padding-right:		10px;
}


/**
* navigation
*/
.dashboard-navigation
{
	background:		#000000;
	color:			#FFFFFF;
	border-radius:		0;
	margin:			0px;
}

.dashboard-navigation ul.dropdown-menu
{
	color:			#FFFFFF;
	background-color:	#000000;
}

/* toggle button  */
.dashboard-navigation .navbar-toggle
{
	border-color:		#FFFFFF;
}

/* toggle button icon  */
.dashboard-navigation .icon-bar
{
	background:		#FFFFFF;
}

/* links  */
.dashboard-navigation ul.nav a
{
	color:			#FFFFFF;
	background-color:	#000000;
}
.dashboard-navigation ul.nav a:hover, .dashboard-navigation ul.nav a:focus
{
	color:			#FFFFFF;
	background-color:	#222222;
}

/* gylphicons  */
.dashboard-navigation .glyphicon
{
	color:			#FFFFFF;
}

/**
* dashlets
*/
div.dashboard-dashlet-row
{
	padding:		20px;
}

div.dashboard-dashlet-content
{
	padding:		10px;

	border-style:		solid;
	border-color:		#CCCCCC;
	border-radius:  	5px;
	border-width:		1px;

	background:		#EEEEEE;
}


/*********************** OLD CSS **************************/
div.dashlet h1
{
	width:			100%;
	margin:			0px;
	border-radius:  	5px;
	padding-top:		3px;
	padding-bottom:		3px;

	background:		#111111;

	color:			#FFFFFF;
	font-size:		12pt;
	text-align:		center;
}

div.updatestring
{
	text-align:		right;
	color:			#999999;
	font-size:		9pt;
	font-style:		italic;
}

img.progressbar
{
	display: 		block;
	margin-left: 		auto;
	margin-right: 		auto;
}

p.progressbar
{
	color:			#999999;
	font-size:		10pt;
	text-align:		center;
}

/**
* severity tables
*/
table.severity
{
	width:				85%;
	margin-left:			auto;
	margin-right:			auto;
	
	border-spacing: 		0px;
	border-collapse:		separate;
}

table.severity td
{	
	border-bottom:			1px solid;
	border-top:			1px solid;
	padding:			15px;
	min-width:			50px;
}

table.severity td:first-child
{
	border-left:			1px solid;
	border-top-left-radius:		5px;
	border-bottom-left-radius:	5px;
	background-repeat:		no-repeat;
	background-position:		10px center;
	padding-left:			60px;
}

table.severity td:last-child
{
	border-right:			1px solid;
	border-top-right-radius:	5px;
	border-bottom-right-radius:	5px;
}


tr.critical td, tr.critical td:first-child, tr.critical td:last-child
{
	border-color:		#C00;
	background-color:	#F5CDCD;
}
tr.critical td:first-child
{
	background-image:	url(../img/icons/critical.png);
}

tr.major td, tr.major td:first-child, tr.major td:last-child
{
	border-color:		#F30;
	background-color:	#FFD7CD;
}
tr.major td:first-child
{
	background-image:	url(../img/icons/major.png);
}

tr.minor td, tr.minor td:first-child, tr.minor td:last-child
{
	border-color:		#F90;
	background-color:	#FFEBCD;
}
tr.minor td:first-child
{
	background-image:	url(../img/icons/minor.png);
}

tr.warning td, tr.warning td:first-child, tr.warning td:last-child
{
	border-color:		#FC0;
	background-color:	#FFF5CD;
}
tr.warning td:first-child
{
	background-image:	url(../img/icons/warning.png);
}

tr.info td, tr.info td:first-child, tr.info td:last-child
{
	border-color:		#360;
	background-color:	#D7E1CD;
}
tr.info td:first-child
{
	background-image:	url(../img/icons/info.png);
}

tr.cleared td, tr.cleared td:first-child, tr.cleared td:last-child
{
	border-color:		#CCC;
	background-color:	#CCC;
}
tr.cleared td:first-child
{
	background-image:	url(../img/icons/cleared.png);
}
